In [2]:
import pandas as pd
from datetime import datetime
import seaborn
import numpy as np
import matplotlib.pyplot as plt

## 価格データを読み込み、対数収益率過程を作成する

In [3]:
df = pd.read_csv(r"..\data\price_data.csv", index_col=0)
df["timestamp"] = pd.to_datetime(df["timestamp"])
df.set_index("timestamp", inplace=True)

log_rt_df = np.log(df).diff()
log_rt_df.head()

,Avalanche_price,Bitcoin_price,Bitcoin Cash_price,Blood Crystal_price,Bridged WBTC_price,BRIHLO_price,Chiliz_price,Dai_price,Enjin Coin_price,Ethereum_price,Ethereum Classic_price,Financie Token_price,Immutable_price,IOST_price,Lisk_price,Mona_price,NEM_price,Palette_price,XRP_price,Shiba Inu_price
timestamp,,,,,,,,,,,,,,,,,,,,
2023-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-11,0.153799,0.000668,-0.006438,NaN,NaN,NaN,-0.000514,0.001009,0.000532,0.005082,-0.002783,-0.027212,0.022668,0.001343,-0.007506,NaN,-0.005278,0.017211,0.004378,0.031939
2023-12-12,0.039295,-0.051997,-0.077698,NaN,NaN,NaN,-0.077072,0.007341,-0.095251,-0.048530,-0.078681,-0.020725,0.065213,-0.064504,-0.064483,NaN,-0.079573,-0.032962,-0.057378,-0.073497
2023-12-13,-0.026940,0.000295,0.000857,NaN,NaN,NaN,0.005845,-0.007180,0.030227,-0.015705,0.003222,0.026312,0.043489,0.059350,-0.004077,NaN,0.013776,0.009870,-0.007019,0.001473
2023-12-14,0.024494,0.017493,-0.002110,NaN,NaN,NaN,-0.003342,-0.016409,0.003799,0.009987,0.003048,-0.115205,-0.007941,0.060209,-0.004040,NaN,0.006939,0.004139,-0.002166,0.005141

In [4]:
# 列名を変更する（一時的処理）
new_col_name_list = [col_name.replace("_price", "") for col_name in log_rt_df.columns]
log_rt_df.columns = new_col_name_list
log_rt_df.head()

,Avalanche,Bitcoin,Bitcoin Cash,Blood Crystal,Bridged WBTC,BRIHLO,Chiliz,Dai,Enjin Coin,Ethereum,Ethereum Classic,Financie Token,Immutable,IOST,Lisk,Mona,NEM,Palette,XRP,Shiba Inu
timestamp,,,,,,,,,,,,,,,,,,,,
2023-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-11,0.153799,0.000668,-0.006438,NaN,NaN,NaN,-0.000514,0.001009,0.000532,0.005082,-0.002783,-0.027212,0.022668,0.001343,-0.007506,NaN,-0.005278,0.017211,0.004378,0.031939
2023-12-12,0.039295,-0.051997,-0.077698,NaN,NaN,NaN,-0.077072,0.007341,-0.095251,-0.048530,-0.078681,-0.020725,0.065213,-0.064504,-0.064483,NaN,-0.079573,-0.032962,-0.057378,-0.073497
2023-12-13,-0.026940,0.000295,0.000857,NaN,NaN,NaN,0.005845,-0.007180,0.030227,-0.015705,0.003222,0.026312,0.043489,0.059350,-0.004077,NaN,0.013776,0.009870,-0.007019,0.001473
2023-12-14,0.024494,0.017493,-0.002110,NaN,NaN,NaN,-0.003342,-0.016409,0.003799,0.009987,0.003048,-0.115205,-0.007941,0.060209,-0.004040,NaN,0.006939,0.004139,-0.002166,0.005141

## 時価総額ウェイトを読み込む

In [5]:
Market_cap_df = pd.read_csv("../data/Market_Cap_ranking_20241214.csv")
Market_cap_df.head()

,Rank,Name,Symbol,Market Cap (JPY),Price (JPY),24h Volume (JPY),Change (24h %)
0,1,Bitcoin,btc,309458704358693,15632397.00,8616991958076,1.96442
1,2,Ethereum,eth,72560502909371,602426.00,5152752089757,1.07772
2,3,XRP,xrp,21620128170069,378.07,1703847517743,6.32312
3,4,Tether,usdt,21550688482084,153.78,14239674781922,0.36998
4,5,Solana,sol,16628726169742,34733.00,758955609604,0.46698

In [12]:
Market_cap_df["Name"]

0                Bitcoin
1               Ethereum
2                    XRP
3                 Tether
4                 Solana
             ...
95      Tokenize Xchange
96    Renzo Restaked ETH
97                  Flow
98               Jupiter
99                 Tezos
Name: Name, Length: 100, dtype: object

## 時価総額上位のコインのみデータを取り出す

In [7]:
log_rt_df = log_rt_df.loc[:, log_rt_df.columns.isin(Market_cap_df["Name"])]
log_rt_df.head()

,Avalanche,Bitcoin,Bitcoin Cash,Dai,Ethereum,Ethereum Classic,Immutable,XRP,Shiba Inu
timestamp,,,,,,,,,
2023-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-11,0.153799,0.000668,-0.006438,0.001009,0.005082,-0.002783,0.022668,0.004378,0.031939
2023-12-12,0.039295,-0.051997,-0.077698,0.007341,-0.048530,-0.078681,0.065213,-0.057378,-0.073497
2023-12-13,-0.026940,0.000295,0.000857,-0.007180,-0.015705,0.003222,0.043489,-0.007019,0.001473
2023-12-14,0.024494,0.017493,-0.002110,-0.016409,0.009987,0.003048,-0.007941,-0.002166,0.005141

In [8]:
## 欠損値処理
log_rt_df.dropna(inplace=True)

In [9]:
cov_mat_df = log_rt_df.cov()
cov_mat_df

,Avalanche,Bitcoin,Bitcoin Cash,Dai,Ethereum,Ethereum Classic,Immutable,XRP,Shiba Inu
Avalanche,0.002302,0.000899,0.001201,0.000021,0.001050,0.001289,0.000552,0.001040,0.001476
Bitcoin,0.000899,0.000773,0.000814,0.000030,0.000748,0.000780,0.000455,0.000506,0.001007
Bitcoin Cash,0.001201,0.000814,0.002413,0.000010,0.000960,0.001404,0.000728,0.000893,0.001679
Dai,0.000021,0.000030,0.000010,0.000031,0.000028,0.000019,0.000029,0.000002,0.000020
Ethereum,0.001050,0.000748,0.000960,0.000028,0.001130,0.001148,0.000514,0.000596,0.001098
Ethereum Classic,0.001289,0.000780,0.001404,0.000019,0.001148,0.001718,0.000553,0.000925,0.001511
Immutable,0.000552,0.000455,0.000728,0.000029,0.000514,0.000553,0.001261,0.000251,0.000644
XRP,0.001040,0.000506,0.000893,0.000002,0.000596,0.000925,0.000251,0.001721,0.000926
Shiba Inu,0.001476,0.001007,0.001679,0.000020,0.001098,0.001511,0.000644,0.000926,0.003404

In [10]:
cov_mat_df.to_csv("../data/cov_mat_df.csv")